@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
  font-family: 'Outfit',sans-serif;
  font-size: 15px;  
  background: var(--light-gray);
  box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--white);
    width: 300px;
    height: auto;
    border: none;
    border-radius: 15px;
}

.qr_img{
    border-radius: 10px;
    height: auto;
    width: 260px;
    margin-top: 20px;
}

.card-content{
    background: var(--white);
    text-align: center;
    margin: 20px 40px;
}

.title {
    font-size: 1.2rem;
    font-weight: 700;
    background: var(--white);
}

.descr{
    background: var(--white);
    font-size: 13px;
    color: var(--grayish-blue);
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

@media screen and (max-width: 600px) {
    .card-content{
        margin: 20px 30px;
    }

    .title {
        font-size: 1.4rem;
    }
    
    .descr{
        font-size: 14px;
    }
}